<mat-card class="user-card">
  <div class="user-circle"></div>
  <mat-divider></mat-divider>
  <p style="padding-top: 1em; font-weight: bold">
    {{ profileUser.firstName }} {{ profileUser.lastName }}
  </p>
  <p>
    {{ profileUser.email }}
  </p>
</mat-card>
<h1>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse adipisci, soluta
  possimus expedita sequi cum doloribus quo modi, reprehenderit officia
  consequuntur unde quia aliquam consectetur temporibus fugiat dignissimos
  nostrum porro!
</h1>
