#searchBar {
  width: 300px;
  margin-top: 15px;
  margin-left: 10px;
  height: 45px;
  writing-mode: horizontal-tb !important;
  border-radius: 6px;
  border-color: rgb(20, 18, 18);
}

.logo {
  margin-top: 20px;
  width: 50%;
  /* height: 35px; */
  border-radius: 50%;
  cursor: pointer;
}

.circular--landscape {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.search-result {
  margin-top: 20%;
  margin-left: 800px;
  margin-right: 1%;
  position: absolute;
  top: 5;
}

#nav-bar-style{
  background-color: black;
}