<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
  <mat-card class="box">
    <mat-card-header>
      <mat-card-title style="color: beige">Reset Password</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-card-actions style="color: beige"
        >Please enter your email to search for your account.</mat-card-actions
      >
      <form class="form" [formGroup]="passwordForm" (ngSubmit)="submit()">
        <mat-form-field
          class="full-width"
          style="color: beige; background-color: rgba(255, 255, 255, 0.2)"
        >
          <input
            class="form"
            matInput
            placeholder="Password"
            formControlName="password"
          />
        </mat-form-field>
        <mat-form-field class="full-width" style="color: beige">
          <input class="form" matInput placeholder="Re-enter Password" />
        </mat-form-field>
      </form>
    </mat-card-content>
    <button
      mat-stroked-button
      color="accent"
      class="btn-block"
      type="submit"
      style="color: beige; background-color: rgba(255, 255, 255, 0.2)"
      (click)="submit()"
    >
      Reset Password
    </button>
  </mat-card>
</div>
