<div>
    <mat-card>
        <mat-card-content>
          <p>Age: {{personalInformation.age}}</p>
          <p>Hometown: {{personalInformation.homeTown}}</p>
          <p>Current residence: {{personalInformation.currentResidence}}</p>
          <p>Bio: {{personalInformation.biography}}</p>
          <button (click)="editTrue">Edit</button>  
        </mat-card-content>
    </mat-card>
<!--
    <ng-template #editBio >
        <mat-card-content>
            
            <p>Age: {{personalInformation.age}}</p>
            <p>Hometown: {{personalInformation.homeTown}}</p>
            <p>Current residence: {{personalInformation.currentResidence}}</p>
            <p>Bio: {{personalInformation.biography}}</p>  
          </mat-card-content>
    </ng-template> -->

</div>
